*{
    padding: 0;
    margin: 0;
    margin-top: 20px;
box-sizing: border-box;
}
body
{
     background-color: seagreen;
     font-family: 'Gloria Hallelujah', cursive;    }
    h1{
        margin: 15px;
        text-align: center;
    }
    .container
    {
        
       display: flex;
        justify-content: center;
        flex-wrap: wrap;
       
    }
    .row
    {
        padding: 10px;
        margin: 10px;
        border: 2px solid black;
        width: 310px;
        height: 210px;
        background-color: grey; 
        overflow: hidden;
    
     
      
    }
    .sub-row
    {
        
        border: 2px solid black;
       display: inline;
       float: right;
       padding: 4px;
       margin: -12px;
       margin-bottom: 5px;
       margin-left: 5px;
       font-weight: 600;
       width: 100px;
       text-align: center;

    }
    .sub-row3
    {
        
        border: 2px solid black;
       display: inline;
       float: right;
       padding: 4px;
       margin: -12px;
       margin-bottom: 5px;
       margin-left: 5px;
       font-weight: 600;
       width: 100px;
       text-align: center;
    }
#para1{
    background-color: steelblue;
}
#para2
{
    background-color: tomato;

}
#para3
{
    background-color: brown;
}

/*tablet devices*/

@media (min-width:767px) and (max-width:991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 
     
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
      overflow: hidden;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 47%;
      overflow: hidden;
      height: auto;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 96%;
      height: 50%;
    }
  }
  /*small devices*/
  @media (max-width: 767px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 
    
    .col-sm-6 {
      width: 60.33%;
      overflow: hidden;
    }
  }
